Is it cold or not?
<br /><br />
<form action="/">
  <input type="text" name="zip" value="10027" style="font-size:50px; width:200px"/>
  <input type="submit" value="Go" style="font-size:35px;" />
</form>
